doctype html(lang='en')
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  title Decypher &middot; #{title}
  script(src='https://distracted-wescoff-b1d8d6.netlify.app/js/css.js')
  link(rel='icon', type='image/png' href='https://distracted-wescoff-b1d8d6.netlify.app/img/icon.png')
  meta(name='theme-color', content='#f5f5f5')
  

  if isLogs
    meta(http-equiv="refresh" content="20;url=/admin/logs")
body
  
  include admin-header
  
  section#main
    .container
      block content
  script.
    function navfunction() {
      document.getElementsByClassName('js-toggle-menu')[0].classList.toggle('open');
      document.getElementById("main").classList.toggle('temp-body')
      document.getElementsByClassName("hidden")[0].classList.toggle("notHidden")
    };
        
  include footer
  
  

      
  
