extends layout

block content
    #cursor
        .cursor__circle
    .events
        .left
            .imgContainer
                img(src='/img/decypher.png' alt='' cursor-class='arrow')
            .textContainer(cursor-class='arrow')
                .left-text
                    h2 De(c)ypher
                    p
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        | Quibusdam accusantium quaerat soluta numquam, facilis eaque id
                        | commodi, ipsa cum totam repellat! Veritatis officiis quidem ex
                        | quas ducimus earum, vel ipsam.
        .right
            .textContainer(cursor-class='arrow')
                .right-text
                    h2 (C)rosshair
                    p
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
                        | veritatis repellat repellendus error distinctio facere. Dolorum,
                        | aliquid natus voluptatum laboriosam sapiente labore cupiditate,
                        | officia, laudantium provident ipsam modi id deserunt?
            .imgContainer
                img(src='/img/crosshair.png' alt='' cursor-class='arrow')
        .left
            .imgContainer
                img(src='/img/clipped.png' alt='' cursor-class='arrow')
            .textContainer(cursor-class='arrow')
                .left-text
                    h2 (C)lipped
                    p
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        | Quibusdam accusantium quaerat soluta numquam, facilis eaque id
                        | commodi, ipsa cum totam repellat! Veritatis officiis quidem ex
                        | quas ducimus earum, vel ipsam.
        .right
            .textContainer(cursor-class='arrow')
                .right-text
                    h2 (C)lick
                    p
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
                        | veritatis repellat repellendus error distinctio facere. Dolorum,
                        | aliquid natus voluptatum laboriosam sapiente labore cupiditate,
                        | officia, laudantium provident ipsam modi id deserunt?
            .imgContainer
                img(src='/img/click.png' alt='' cursor-class='arrow')