extends layout

block content
    #cursor
        .cursor__circle
    .event
        section.events
            .logocontainer
                .imgContainer
                    img(src='/img/decypher.png' alt='' cursor-class='arrow')
                h2 DE(C)YPHER
            .textContainer(cursor-class='arrow')
                p(cursor-class='arrow')
                    | The original cryptic hunt of Bhopal is back!
                    br
                    br
                ul.textleft(cursor-class='arrow')
                    li An event where the participants will compete to find out who is the cleverest person in the ‘room’.
                    li It will comprise of innumerable levels, each being more daunting than the last which will require the participants to think out of the box. The questions will range from recent happenings to famous incidents of the past, from famous internet personalities to pop culture references.
                    li The students will rack their brains to solve complex puzzles using internet tools like ciphers, steganography, and of course plain old Google.
                    li The hunt will span across 2 days, going live from 00:01 on 7th of August till 23:59 on 8th of August.
                br
                br
                br
                p(cursor-class='arrow')
                    | Prize Distribution:
                    br
                    br
                    | 1st Position: Prize worth ₹3750 along with certificates
                    br
                    | 2nd Position: Prize worth ₹2500 along with certificates
                    br
                    | 3rd Position: Prize worth ₹1500 along with certificates
                    br
                    | 4th–20th Position: Tech voucher along with certificates

        section.events
            .logocontainer
                .imgContainer
                    img(src='/img/crosshair.png' alt='' cursor-class='arrow')
                h2 (C)ROSSHAIR
            .textContainer
                ul.textleft(cursor-class='arrow')
                    li A favourite of the masses, this event provides a platform to the upcoming gamers of our generation, allowing them to flaunt their hard-earned skills and moves in the fan favourite game- Valorant.
                    li The event will test the teams to the limit, forcing them to utilize and push their creativity, teamwork, innovation, adaptability, patience, and skills to the max.
                    li The arduous tournament will witness teams trying to outwit, out move and out skill their opponents till the last team standing on the top takes the grand prize home.
                    li The competition will follow a randomly generated Bracket system. The maximum number of teams will thus be limited to 32 and will be on a first come first serve basis.
                    li The semi-Finals and Finals will be broadcasted live on Youtube on the official (c)ypher channel. Each school can register one team only, consisting of 5 players and 1 substitute (optional).
                    li The tournament will be a knockout tournament, spanning across 4 days. It will commence on 2nd August and the final match will be played on 5th August.
                br
                br
                br
                p
                    | Prize Distribution:
                    br
                    br
                    | 1st Position: Prize worth ₹8000 along with certificates
                    br
                    | 2nd Position: Prize worth ₹5000 along with certificates
                    br
                    | 3rd Position: Prize worth ₹3000 along with certificates

        section.events
            .logocontainer
                .imgContainer
                    img(src='/img/clipped.png' alt='' cursor-class='arrow')
                h2 (C)LIPPED
            .textContainer
                p(cursor-class='arrow')
                    | Where moments become immortal.
                br
                br
                ul.textleft(cursor-class='arrow')
                    li (c)lipped is the video editing competition envisioned for the editors out there, who have a knack for spotting the sharpest details out of seemingly ordinary settings and transforming them into awe-inspiring landscapes.
                    li The competition pits the participants against each other and levels the playing field by providing several video clips common to all, enabling them to scrap the ordinary filters of the camera lens and letting them show the world their perspective of it – having complete control down to the very last pixel.
                    li The event gives freedom to the competitors over the choice of the software and tools that they shall need to craft the masterpieces over 3 grinding days for a chance at the grand prize.
                    li The participants will be provided with about 50 small clips of 10-15 seconds each which they have to use in the most efficient manner to form a video worthy of the name “(c)lipped”.
                    li The event will span across 3 days, kicking off on 3rd August and ending on 6th August 2021. There is no limit to the number of participants from one school, the sky’s the limit!
                    li Schools can register their students from the dashboard. Whereas, students can register individually as well.
                br
                br
                br
                p(cursor-class='arrow')
                    | Prize Distribution:
                    br
                    br
                    | 1st Position: Prize worth ₹3750 along with a certificate
                    br
                    | 2nd Position: Prize worth ₹2500 along with a certificate
                    br
                    | 3rd Position: Prize worth ₹1250 along with a certificate


        section.events
            .logocontainer
                .imgContainer
                    img(src='/img/click.png' alt='' cursor-class='arrow')
                h2 (C)LICK
            .textContainer
                ul.textleft(cursor-class='arrow')
                    li Click is the photography contest articulated for the best of the photographers out there who have the superpower of narrating a thousand words and feelings in one single click.
                    li To truly explore the level of the contestants skills, the competitors will have to complete two skillful tasks.
                    li The first will test their creativity and photography skills as the participant has to click a photograph of any of the following types: Architectural, Still life, Wildlife, Advertising or Landscape.
                    li The second, the magic in their hands which can edit any ordinary picture into a treat for the eyes, as they will receive a raw photograph which they will have to edit in the most creative way possible without addition of any new elements.
                    li The event will span across 2 days, starting on 2nd August and ending on 4th August 2021. There is no limit to the number of participants from one school, the sky’s the limit!
                    li Schools can register their students from the dashboard. Whereas, students can register individually as well.
                br
                br
                br
                p(cursor-class='arrow')
                    | Prize Distribution:
                    br
                    br
                    | 1st Position: Prize worth ₹3750 along with a certificate
                    br
                    | 2nd Position: Prize worth ₹2500 along with a certificate
                    br
                    | 3rd Position: Prize worth ₹1250 along with a certificate
