doctype html
html(lang='en')
    head 
        meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        title De(c)ypher
        meta(name='description', content='This page is created for the online cryptic hunt - De(c)pher.')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel="shortcut icon" href="https://distracted-wescoff-b1d8d6.netlify.app/img/icon.ico?v=1" type="image/x-icon")
        style.
            @import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
            * {
                margin: 0;
                padding: 0;
            }
            html:focus-within {
                scroll-behavior: smooth;
                background: black;
            }

            body {
                font-family: 'Chakra Petch', sans-serif;
                background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(https://distracted-wescoff-b1d8d6.netlify.app/img/background.jpg);
                background-size: cover;
                margin: 0;
                padding: 0;
                color: #fff;
                cursor: default;
                overflow-x: hidden;
                height: 100vh;
            }

            ::-webkit-scrollbar {
                width: 4px;
            }

            ::-webkit-scrollbar-track {
                background: #03070E;
            }

            ::-webkit-scrollbar-thumb {
                background: linear-gradient(to bottom, #ff2079, #41e7fe);
                border-radius: 30px;
                opacity: 0.8;
            }


            /* ---------------------------------------------------GLOBAL--------------------------------------------------- */

            section {
                height: 100vh;
                /* z-index: 1; */
            }

            section#section1 {
                background: linear-gradient(to bottom, #050B18, #0b1936, #0d1d3f);
                height: 130vh;
                overflow-x:hidden;

            }

            section#section2 {
                background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(https://distracted-wescoff-b1d8d6.netlify.app/img/background.jpg);
                background-size: cover;
                background-attachment: fixed;
                height: 130vh;
                overflow-x:hidden;
            }


            /* ----------------------------------------------------------THREE.JS-------------------------------------------- */

            .webgl {
                position: absolute;
                top: 0;
                left: 0;
                outline: none;
                padding: 0;
                margin: 0;
            }

            canvas {
                position: absolute;
            }


            /* -------------------------------------------------HEADER------------------------------------------------------ */

            header {
                position: relative;
                height: 100vh;
                z-index: 10;
                overflow: hidden;
                scroll-behavior: smooth;
            }

            .navbar {
                height: 10px;
                float: right;
                margin-top: 1px;
                position: absolute;
                width:100vw;
            }

            .navbar ul {
                list-style: none;
                margin: 0;
                padding-left: 0;
                padding-top: 20px;
                padding-right: 15px;
                letter-spacing: 0.1em;
            }

            .navbar ul li {
                display: inline-block;
                list-style: none;
            }

            .navbar ul li a {
                color: inherit;
                height: 50px;
                display: block;
                border: none;
                text-decoration: none;
                font-weight: bold;
                font-size: 1.3em;
                margin-right: 2em;
            }

            .navbar ul li a:hover {
                color: #F11D7A;
            }

            .active {
                background-image: linear-gradient(to right, #42E6FF 0%, #F11D7A 100%);
                background-size: 40px 2px;
                background-position-y: 30px;
                background-repeat: no-repeat;
            }

            .container {
                height: 100vh;
                text-transform: uppercase;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-flow: column;
                width: 100%;
            }

            .container h1 {
                font-size: 9em;
            }

            .container h2 {
                font-weight: 700;
                letter-spacing: 0.2em;
            }

            .btn-container {
                display: flex;
                justify-content: space-evenly;
                margin-top: 4em;
                width: 50%;
            }

            .btn {
                padding: 1.3em;
                clip-path: polygon(0 0, 90% 0, 100% 20%, 100% 100%, 10% 100%, 0 80%);
            }

            .btn-1 {
                background: linear-gradient(to left, #ff2079, #41e7fe);
            }

            .btn-2 {
                font-weight: 200;
                border: 1px solid white;
                background-color: #000 !important;
                background-image: linear-gradient(to left, #ff2079, #41e7fe);
                background-size: 100%;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                -webkit-text-fill-color: transparent;
                -moz-text-fill-color: transparent;
            }


            /* Content Menu */

            .content-menu {
                position: fixed;
                top: 50%;
                right: 15px;
                color: #e309a2;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                -webkit-transition: color 0.5s ease;
                transition: color 0.5s ease;
                z-index: 99999;
            }

            @media screen and (min-width: 768px) {
                .content-menu {
                    right: 30px;
                }
            }

            .content-menu ul {
                list-style: none;
            }

            .content-menu li {
                margin: 8px 0;
            }

            .content-menu li a {
                position: relative;
                display: block;
                width: 20px;
                height: 20px;
                border: 2px solid rgba(4, 127, 164, 0);
                border-radius: 50%;
                -webkit-transition: border-color 0.3s ease;
                transition: border-color 0.3s ease;
            }

            @media screen and (min-width: 768px) {
                .content-menu li a {
                    width: 24px;
                    height: 24px;
                }
            }

            .content-menu li a.frontpage:before {
                display: none;
            }

            .content-menu li a:before {
                position: absolute;
                top: 50%;
                left: 50%;
                display: block;
                width: 6px;
                height: 6px;
                content: "";
                border-radius: 50%;
                background: cyan;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }

            @media screen and (min-width: 768px) {
                .content-menu li a:before {
                    width: 8px;
                    height: 8px;
                }
            }

            .content-menu li a:hover {
                border: 2px solid #bd1e63;
            }

            @media screen and (min-width: 768px) {
                .content-menu li a:hover span {
                    visibility: visible;
                    opacity: 1;
                    -webkit-transform: translateX(0);
                    transform: translateX(0);
                }
            }

            .content-menu li a.active {
                border: 2px solid #F11D7A;
            }

            .content-menu li a svg {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 12px;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                fill: cyan;
            }

            @media screen and (min-width: 768px) {
                .content-menu li a svg {
                    width: 14px;
                }
            }

            .content-menu li a span {
                display: none;
            }

            @media screen and (min-width: 768px) {
                .content-menu li a span {
                    position: absolute;
                    right: 28px;
                    display: block;
                    visibility: hidden;
                    opacity: 0;
                    -webkit-transform: translateX(-5px);
                    transform: translateX(-5px);
                    -webkit-transition: opacity 0.35s ease, -webkit-transform 0.35s ease;
                    transition: opacity 0.35s ease, -webkit-transform 0.35s ease;
                    transition: opacity 0.35s ease, transform 0.35s ease;
                    transition: opacity 0.35s ease, transform 0.35s ease, -webkit-transform 0.35s ease;
                }
            }

            #home-card1 {
                margin: auto;
                padding-top: 20%;
                width: 100%;
                height: 40vh;
                visibility: hidden;
                /* transition: opacity 0.5s ease-in; */
            }


            /* -----------------------------------------------ABOUT-------------------------------------------- */

            .about {
                margin-top: -100px;
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .card1 {
                background: linear-gradient(to left, #ff2079, #440ad7);
                display: flex;
                justify-content: center;
                align-items: center;
                width: 70%;
                height: 50%;
                padding: 2em 1em;
                clip-path: polygon(0 0, 75% 0%, 100% 50%, 100% 100%, 25% 100%, 0% 50%);
            }

            .card2 {
                display: flex;
                text-align: center;
                justify-content: center;
                align-items: center;
                flex-flow: column;
                height: 100%;
                padding: 1em 5em;
                width: 100%;
                border-radius: 10px;
                background-color: #000;
                /* visibility:hidden; */
            }

            .card2 h1 {
                margin-bottom: 1em;
                text-transform: uppercase;
            }

            .card2 p {
                font-weight: 300;
                line-height: 1.7em;
            }


            /* -----------------------------------------------FAQs-------------------------------------------- */

            .faq-section {
                display: flex;
                padding-bottom: 2em;
                width: 100%;
                flex-flow: column;
                align-items: center;
                padding-top: 7em;
            }

            .title {
                margin: 2em 0;
                font-size: 2em;
                visibility: hidden;
            }

            .faq {
                width: 50%;
                margin-top: 5em;
                padding-bottom: 1em;
                border-bottom: 2px solid #fff;
                cursor: pointer;
            }

            .question {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .question h2 {
                font-size: 1.5em;
            }

            .answer {
                height: 0;
                overflow: hidden;
                transition: 0.4s ease-in-out;
            }

            .answer p {
                margin-top: 50px;
                padding: 0.4em;
                line-height: 1.6;
                margin-left: 35px;
                border: 1px rgba(0, 0, 0, .5) solid;
                width: 90%;
                background: linear-gradient(0, 0, 0, 0.3);
            }

            .faq.active1 .answer {
                height: 15vh;
            }

            i {
                transition: 0.3s ease-in-out;
            }

            .faq.active1 i {
                transform: rotate(180deg);
            }
            .firstnav{
                float:right;
            }
            #nav.mobile-nav{
                margin:auto;
                /* position: fixed; */
                font-size: 34px;
                width: 100vw;
                height: 100vh;
                margin-top: 120px;
            }
            
            .mobile-nav ul{
                padding: 0 50px 50px 50px;
                margin: auto;
                list-style-type: none;  
                padding-bottom:90px;
            }
            
            .mobile-nav ul li{
                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: 80px;
            }
            .mobile-nav ul li a{
                text-align: center;
            }
            .hidden{
                display: none;
            }
            .notHidden{
                display: block;
            }
            .mobile-nav ul.animated-box4.in{
                height: max-content;
                width: max-content;
                background: rgba(0, 0, 0, .8);
            }
            .hamburger-menu {
                display: none;
                height: 100px;
                padding: 35px 10px;
                transition: all 0.4s ease-in-out;
                float: right;
            }
            .hamburger-menu:hover {
                cursor: pointer;
            }
            .hamburger-menu .menu-item {
                display: block;
                height: 2px;
                margin: 0 0 7px;
                transition: all 0.3s ease-in-out;
                background-image: linear-gradient(to bottom right, #42E6FF, #F11D7A);
                background-size: 100px;
                width: 30px;
            }
            .hamburger-menu.open .menu-item {
                margin: 0 0 5px;
            }
            
            .hamburger-menu .menu-item:nth-child(2), .hamburger-menu .menu-item:nth-child(3) {
                background-position-y: 50px;
            
            }
            .hamburger-menu.open .menu-item:first-child {
            
                transform: rotate(45deg);
                transform-origin: 6px;
            }
            .hamburger-menu.open .menu-item:nth-child(2) {
                opacity: 0;
            }
            .hamburger-menu.open .menu-item:nth-child(3) {
                transform: rotate(-45deg);
                transform-origin: 4px;
            }
            .animated-box, .animated-box2, .animated-box3, .animated-box4 {
                position: relative;
                width: 60%;
            }
            .animated-box2{
                margin: auto;
                width: fit-content;
                height: 90vh;
            }
            .animated-box3{
                margin: inherit;
                width: inherit;
            }
            .animated-box4{
                width: 40%;
            }
            .animated-box:after, .animated-box2:after, .animated-box3:after, .animated-box4:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 4px;
                background: linear-gradient(120deg, #F11D7A, #43E3FE, #F11D7A, #43E3FE); 
                background-size: 300% 300%;
            }
            .animated-box:after{
                clip-path: polygon(0% 100%, 4px 100%, 4px 4px, calc(100% - 4px) 4px, calc(100% - 4px) calc(100% - 4px), 4px calc(100% - 4px), 4px 100%, 100% 100%, 100% 0%, 0% 0%);
            }
            .animated-box2:after{
                clip-path: polygon(0% 100%, 1px 100%, 1px 1px, calc(100% - 1px) 1px, calc(100% - 1px) calc(100% - 1px), 1px calc(100% - 1px), 1px 100%, 100% 100%, 100% 0%, 0% 0%);
            }
            .animated-box3:after{
                clip-path: polygon(0% 100%, 2px 100%, 2px 2px, calc(100% - 2px) 2px, calc(100% - 2px) calc(100% - 2px), 2px calc(100% - 2px), 2px 100%, 100% 100%, 100% 0%, 0% 0%);
            }
            .animated-box4:after{
                clip-path: polygon(0% 100%, 1px 100%, 1px 1px, calc(100% - 1px) 1px, calc(100% - 1px) calc(100% - 1px), 1px calc(100% - 1px), 1px 100%, 100% 100%, 100% 0%, 0% 0%);
            }
            .animated-box.in:after, .animated-box2.in:after, .animated-box3.in:after, .animated-box4.in:after {
                animation:  gradient-animation 8s ease-in-out infinite;
            }
            /* motion */
            @keyframes gradient-animation {
                0% {
                background-position: 15% 0%;
                }
                50% {
                background-position: 85% 100%;
                }
                100% {
                background-position: 15% 0%;
                }
            }
            /* motion 2 */
            @keyframes gradient-animation2 {
                0% {
                background-position: 0% 0%
                }
                50% {
                background-position: 100% 100%;
                }
                100% {
                background-position: 0% 0%;
                }
            }
            @media (max-width: 750px){

                /* Navbar */
                nav.mobile-nav {
                    height: 100vh;
                    padding: 10px 2.5px;
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    white-space: nowrap;
                    text-align: left;
                    z-index: 9000;
                    font-size: 10px;
                }
                
                .firstnav{
                    display: none;
                }
                .hamburger-menu{
                    display: inline-block;
                    margin-right: 25px;
                }
                .mob-logo {
                    position: absolute;
                    max-height: 80px;
                    left:0;
                    margin-top:16px;
                    margin-left: 10px;
                    display: inline-block;
                }
                .navbar ul li a {
                    margin: 0;
                }
                .container h1{
                    margin-top: -35px;
                    font-size: 4em;
                }
                .container h2{
                    font-size: 0.65em;
                }
            }
                /* TABLETS */
                @media (min-width: 750px) and (max-width: 1112px) {
                
                /* Navbar */
                nav.mobile-nav {
                    height: 100vh;
                    padding: 10px 2.5px;
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    white-space: nowrap;
                    text-align: left;
                    z-index: 9000;
                    font-size: 10px;
                }
                
                .firstnav{
                    display: none;
                }
                .hamburger-menu{
                    display: inline-block;
                    margin-right: 25px;
                }
                .mob-logo {
                    position: absolute;
                    max-height: 80px;
                    left:0;
                    margin-top:16px;
                    margin-left: 10px;
                    display: inline-block;
                }
                .navbar ul li a {
                    margin: 0;
                }
                .container h1{
                    font-size: 7em;
                }
                .container h2{
                    font-size: 1.5em;
                }
            }
    body
        header#header
            nav.content-menu
                ul
                    li.indexli
                        a.indexa.frontpage.firsticon.active(data-id='forsiden', href="javascript:firstclick()", aria-label="Home")
                            span.label(data-translate='contentmenu.forsiden') Home
                            svg(viewbox='0 0 24 24')
                                path(d='M0 0h24v24H0z' fill='none')
                                path(d='M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z')
                    li.indexli
                        a.indexa.secondicon(data-scrolloffset='-0.4' data-id='planten', href="javascript:secondclick()", aria-label="Section 1")
                            span.label(data-translate='contentmenu.planten') Section 1
                    li.indexli
                        a.indexa.thirdicon(data-scrolloffset='-0.2' data-id='produkter', href="javascript:thirdclick()", aria-label="Section 2")
                            span.label(data-translate='contentmenu.produkter') Section 2

            .navbar
                ul.firstnav
                    li
                        a(href='/')#homenav Home
                    li 
                        a(href='/rules') Rules
                    li
                        a(href='/login') Login
                    li
                        a(href='/register') Register
                #mobilenavdiv.mobile-menu-toggle.js-toggle-menu.hamburger-menu(onclick='navfunction()')
                    span.menu-item
                    span.menu-item
                    span.menu-item
                nav#nav.mobile-nav.hidden
                    ul.animated-box4.in
                        li
                            a(href='/')#homenav Home
                        li 
                            a(href='/rules') Rules
                        li
                            a(href='/login') Login
                        li
                            a(href='/register') Register
            .container
                h1 Decypher
                h2 The Original Cryptic Hunt of Bhopal
        canvas.webgl
        #sections
            section#section1
                //- #home-card1 
                //-     .about
                //-         .card1
                //-             .card2
                //-                 h1 Mind Bending Questions
                //-                 p
                //-                     | The event comprises of unknown number of mind bending questions
                //-                     | which the participants need to solve to proceed to the next level.
                //-                     | The one who will be able to complete all the questions in the least
                //-                     | amount of time will be declared the winner.
            section#section2
                .faq-section
                    .title
                        h1 FAQs
                    .faq#faq1
                        .question
                            h2 Question1
                            i.fas.fa-chevron-down
                        .answer
                            p answer 1
                    .faq#faq2
                        .question
                            h2 Question2
                            i.fas.fa-chevron-down
                        .answer
                            p answer 2
                    .faq#faq3
                        .question
                            h2 Question3
                            i.fas.fa-chevron-down
                        .answer
                            p answer 3
                    .faq#faq4
                        .question
                            h2 Question4
                            i.fas.fa-chevron-down
                        .answer
                            p answer 4
        //- ----------------------------------------------javascript-----------------------------------------------------------
        script(src='https://distracted-wescoff-b1d8d6.netlify.app/js/gsap.min.js' integrity='sha512-cdV6j5t5o24hkSciVrb8Ki6FveC2SgwGfLE31+ZQRHAeSRxYhAQskLkq3dLm8ZcWe1N3vBOEYmmbhzf7NTtFFQ==' crossorigin='anonymous' referrerpolicy='no-referrer')
        script(src='https://distracted-wescoff-b1d8d6.netlify.app/js/CSSRulePlugin.min.js' integrity='sha512-0bzaetZStCnsUgbCtGVxftzF/L32PNOnrMlYLXwBOKl8cUjTSSDfJVyyJsNwGoI0iE0WUqni2eEfO35kJjFj5g==' crossorigin='anonymous' referrerpolicy='no-referrer')
        script(src="https://distracted-wescoff-b1d8d6.netlify.app/js/ScrollTrigger.min.js") 
        script(type='text/javascript' src='https://distracted-wescoff-b1d8d6.netlify.app/js/three.min.js')
        script#vertexShader(type='x-shader/x-vertex').
            uniform float time;
            uniform vec2 mouse;

            varying vec4 vVertexColor;
            varying float intensity;

            void main() {
                vec4 newPosition = modelViewMatrix * vec4( position, 1.0 );
                //newPosition.y += 20.0*sin(time*0.5+newPosition.x/25.0);
                //newPosition.x += 30.0*cos(time*0.5+newPosition.y/25.0);
                //newPosition.xy += 30.0 * cos(time*0.5+newPosition.xy/25.0) + mouse;
                float d = distance( position.xy, mouse );
                float minDistance = 200.0;

                intensity = .9;

                if(d < minDistance) {
                    newPosition.xy += cos(time+newPosition.yx) * sin(time+newPosition.yx) * normal.xy * (minDistance - d);
                    // newPosition.xyz += 30.0 * cos(time*0.5+newPosition.xyz/25.0);
                    intensity = d / minDistance;
                    // intensity = .2 + intensity * .8;
                }
                vVertexColor = projectionMatrix * newPosition;
                    //newPosition.xy = mouse.xy;
                //if(d < 50.0) newPosition.y -= 50.0 - (mouse.y - position.y);
                //mvPosition.x += normal.x * d;
                //mvPosition.y += normal.y * d;
                gl_Position = projectionMatrix * newPosition;
            }

            //effet cubique cool
            // newPosition.xyz += 30.0 * cos(time*0.5+newPosition.xyz/25.0);
        script#fragmentShader(type='x-shader/x-fragment').
            #ifdef GL_ES
            precision highp float;
            #endif

            uniform float time;

            varying vec4 vVertexColor;
            varying float intensity;

            void main() {
                // float greyvalue = (vVertexColor.x + vVertexColor.y + vVertexColor.z) / 3.0 * intensity * .5;
                gl_FragColor = vec4(intensity * 2., intensity * 0.3, intensity, 1.0);
                // gl_FragColor = vec4(intensity * 4. + 1. + cos(time * .25) + sin(time * .75), intensity * 2. + 1. + cos(time * .5) + sin(time * .5), intensity + 1. + cos(time * .75) + sin(time * .25), 1.0);
            }
        script(src="https://kit.fontawesome.com/07dc217a64.js" crossorigin="anonymous")
        script(type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js")
        script.
            document.getElementById("homenav").classList.toggle("active");
            const mediaQuery = window.matchMedia('(max-width: 750px)')
            if (mediaQuery.matches) {
                var size = { SPHERE_SIZE: 120 };

                var scene, camera, renderer;
        
                var time = 0;
                var mouseX = 0;
                var mouseY = -1000;

                var vertexShader = document.getElementById("vertexShader").textContent;
                var fragmentShader = document.getElementById("fragmentShader").textContent;

                var scene = new THREE.Scene();

                const canvas = document.querySelector("canvas.webgl");

                var camera = new THREE.OrthographicCamera(
                    window.innerWidth * -0.5,
                    window.innerWidth * 0.5,
                    window.innerHeight * 0.5,
                    window.innerHeight * -0.5,
                    -1000,
                    1000
                );
                camera.position.z = 500;
                scene.add(camera);

                var geometry = new THREE.IcosahedronGeometry(size.SPHERE_SIZE, 5);

                var material;

                var uniforms = {
                    time: {
                        type: "f",
                        value: 1.0
                    },
                    mouse: {
                        type: "v2",
                        value: new THREE.Vector2(mouseX, -mouseY)
                    },
                    size: {
                        type: "v2",
                        value: new THREE.Vector2(100, 100)
                    },
                };

                var material = new THREE.ShaderMaterial({
                    uniforms: uniforms,
                    vertexShader: vertexShader,
                    fragmentShader: fragmentShader,
                    wireframe: true,
                });

                var mesh = new THREE.Mesh(geometry, material);
                scene.add(mesh);

                var renderer = new THREE.WebGLRenderer({
                    antialias: true,
                    alpha: true,
                    canvas: canvas,
                });
                // document.body.appendChild(renderer.domElement);
                renderer.setSize(window.innerWidth, window.innerHeight);

                window.addEventListener("resize", onWindowResize);
                window.addEventListener("mousemove", onMouseMove);

                function update() {
                    document.addEventListener("click", (event) => {
                        X = event.clientX;
                        Y = event.clientY;
                    });

                    time++;
                    uniforms.mouse.value.x += (mouseX - uniforms.mouse.value.x) * 0.1;
                    uniforms.mouse.value.y += (-mouseY - uniforms.mouse.value.y) * 0.1;
                    uniforms.time.value = time * 0.05;

                    mesh.rotation.x = mesh.rotation.y =
                        Math.cos(time * 0.001 + Math.PI * 0.5) * 0.2;
                    renderer.render(scene, camera);
                    requestAnimationFrame(update);
                }
                update();


                //- //EVENTS
                //- function onWindowResize() {
                //-     renderer.setSize(window.innerWidth, window.innerHeight);
                //-     camera.left = -window.innerWidth * 0.5;
                //-     camera.right = window.innerWidth * 0.5;
                //-     camera.top = window.innerHeight * 0.5;
                //-     camera.bottom = -window.innerHeight * 0.5;
                //-     camera.updateProjectionMatrix();
                //- }

                //- function onMouseMove(e) {
                //-     mouseX = e.pageX - window.innerWidth * 0.5;
                //-     mouseY = e.pageY - window.innerHeight * 0.5;
                //- }
            }
            else{
                var size = { SPHERE_SIZE: 200 };

                var scene, camera, renderer;
        
                var time = 0;
                var mouseX = 0;
                var mouseY = -1000;

                var vertexShader = document.getElementById("vertexShader").textContent;
                var fragmentShader = document.getElementById("fragmentShader").textContent;

                var scene = new THREE.Scene();

                const canvas = document.querySelector("canvas.webgl");

                var camera = new THREE.OrthographicCamera(
                    window.innerWidth * -0.5,
                    window.innerWidth * 0.5,
                    window.innerHeight * 0.5,
                    window.innerHeight * -0.5,
                    -1000,
                    1000
                );
                camera.position.z = 500;
                scene.add(camera);

                var geometry = new THREE.IcosahedronGeometry(size.SPHERE_SIZE, 5);

                var material;

                var uniforms = {
                    time: {
                        type: "f",
                        value: 1.0
                    },
                    mouse: {
                        type: "v2",
                        value: new THREE.Vector2(mouseX, -mouseY)
                    },
                    size: {
                        type: "v2",
                        value: new THREE.Vector2(100, 100)
                    },
                };

                var material = new THREE.ShaderMaterial({
                    uniforms: uniforms,
                    vertexShader: vertexShader,
                    fragmentShader: fragmentShader,
                    wireframe: true,
                });

                var mesh = new THREE.Mesh(geometry, material);
                scene.add(mesh);

                var renderer = new THREE.WebGLRenderer({
                    antialias: true,
                    alpha: true,
                    canvas: canvas,
                });
                // document.body.appendChild(renderer.domElement);
                renderer.setSize(window.innerWidth, window.innerHeight);

                window.addEventListener("resize", onWindowResize);
                window.addEventListener("mousemove", onMouseMove);

                function update() {
                    document.addEventListener("click", (event) => {
                        X = event.clientX;
                        Y = event.clientY;
                    });

                    time++;
                    uniforms.mouse.value.x += (mouseX - uniforms.mouse.value.x) * 0.1;
                    uniforms.mouse.value.y += (-mouseY - uniforms.mouse.value.y) * 0.1;
                    uniforms.time.value = time * 0.05;

                    mesh.rotation.x = mesh.rotation.y =
                        Math.cos(time * 0.001 + Math.PI * 0.5) * 0.2;
                    renderer.render(scene, camera);
                    requestAnimationFrame(update);
                }
                update();


                //EVENTS
                function onWindowResize() {
                    renderer.setSize(window.innerWidth, window.innerHeight);
                    camera.left = -window.innerWidth * 0.5;
                    camera.right = window.innerWidth * 0.5;
                    camera.top = window.innerHeight * 0.5;
                    camera.bottom = -window.innerHeight * 0.5;
                    camera.updateProjectionMatrix();
                }

                function onMouseMove(e) {
                    mouseX = e.pageX - window.innerWidth * 0.5;
                    mouseY = e.pageY - window.innerHeight * 0.5;
                }

            }
            const faqs = document.querySelectorAll(".faq");

            faqs.forEach((faq) => {
                faq.addEventListener("click", () => {
                    faq.classList.toggle("active1");
                });
            });
            
            function firstclick(){
                $(document.getElementsByClassName("active")[0]).removeClass("active")
                $(document.getElementsByClassName("indexa")[0]).addClass("active")
                document.getElementById("header").scrollIntoView({behavior: 'smooth', block: "start", inline: "start"})
            }
            function secondclick(){
                $(document.getElementsByClassName("active")[0]).removeClass("active")
                $(document.getElementsByClassName("indexa")[1]).addClass("active")
                document.getElementById("section1").scrollIntoView({behavior: 'smooth', block: "start", inline: "start"})
            }
            function thirdclick(){
                $(document.getElementsByClassName("active")[0]).removeClass("active")
                $(document.getElementsByClassName("indexa")[2]).addClass("active")
                document.getElementById("section2").scrollIntoView({behavior: 'smooth', block: "start", inline: "start"})
            }
            document.addEventListener("scroll", function() {
                if (window.scrollY > 3300) {
                    $(document.getElementsByClassName("active")[0]).removeClass("active")
                    $(document.getElementsByClassName("indexa")[2]).addClass("active")
                }
                else if (window.scrollY > 700) {
                    $(document.getElementsByClassName("active")[0]).removeClass("active")
                    $(document.getElementsByClassName("indexa")[1]).addClass("active")
                }
                else {
                    $(document.getElementsByClassName("active")[0]).removeClass("active")
                    $(document.getElementsByClassName("indexa")[0]).addClass("active")
                }
            });

            gsap.registerPlugin(ScrollTrigger);

            gsap.to("#section1", {
            scrollTrigger: {
                trigger: "#section1",
                scrub: true,
                pin: true,
                start: "center center",
                end: "bottom -50%",
                ease: "power2"
            }
            });

            //- gsap.to("#home-card1", {
            //- scrollTrigger: {
            //-     trigger: "#section1",
            //-     scrub: 0.5,
            //-     start: "top bottom",
            //-     end: "top -300px",
            //-     ease: "power2",
            //- },
            //- autoAlpha:1,
            //- y: "-37%",
            //- });

            //- gsap.to(".card2", {
            //-     scrollTrigger: {
            //-     trigger: ".card2",
            //-     scrub: 0.5,
            //-     start: "top bottom",
            //-     end: "top -300px",
            //-     ease: "power2",
            //-     },
            //- });
            function navfunction() {
                document.getElementsByClassName('js-toggle-menu')[0].classList.toggle('open');
                document.getElementsByClassName("hidden")[0].classList.toggle("notHidden")
            };

