doctype html
html(lang='en')
  head 
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title (c)ypher
    meta(name='description', content='This page is created for the online cryptic hunt - De(c)pher.')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel="shortcut icon" href="https://distracted-wescoff-b1d8d6.netlify.app/img/icon.ico?v=1" type="image/x-icon")
    link(rel="stylesheet" href="/css/register-student.css")
  body
    include header

    #canvas
    #main
        section
            block content
        
    include footer


