html(lang='en')
    head 
        meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        title (c)ypher
        meta(name='description', content='This page is created for the online cryptic hunt - De(c)pher.')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel="shortcut icon" href="https://distracted-wescoff-b1d8d6.netlify.app/img/icon.ico?v=1" type="image/x-icon")
        link(rel="stylesheet" href="/css/register-student.css")
    body
        header
            .logo
                a(href='/home')
                    img(src='/img/cync_logo-converted.png' cursor-class='arrow')
            nav.navbar
                ul
                    li
                        a(href='/events' cursor-class='arrow') Events
                    li
                        a(href='/alumni' cursor-class='arrow') Alumni
                    li
                        a(href='https://www.decypher.club/' target='_blank' cursor-class='arrow') Decypher
                    li
                        a(href='/login' cursor-class='arrow') Login
                    li
                        a(href='/register' cursor-class='arrow') Register
        #canvas
        section
            #cursor
                .cursor__circle
            .container1
                .card-container
                    a(href='/school/register' cursor-class="arrow")
                        .blog-card.spring-fever
                            .title-content
                                h3.firstelement.reg School Registeration
                            .card-info
                                | If you're a teacher, register your school for the event here!
                            .color-overlay
                    a(href='/student/register' cursor-class="arrow")
                        .blog-card.spring-fever
                            .title-content
                                h3.secondelement.reg Student Registeration
                            .card-info
                                | If you're a student, register yourself school for the event here!
                            .color-overlay
        footer
            .imp-links
                .left-footer
                    h2
                        | (c)ync will be held on July 27th. All offline events will be
                        | conducted at the venue from 9:00 AM to 12 noon.
                    br
                    p
                        | For any further queries, please contact Mr. Anurag Sehgal: +91
                        | 7869119509
                .right-footer
                    h2 More Links
                    .links
                        .right1
                            ul
                                li
                                    a(href='#') Events
                                li
                                    a(href='/register') Register
                                li
                                    a(href='#') Login
                        .right2
                            ul
                                li
                                    a(href='https://www.instagram.com/cypherdps/' target='_blank') Instagram
                                li
                                    a(href='#' target='_blank') Discord
                                li
                                    a(href='#' target='_blank') YouTube
            .last
                p With &#x1F497; from (c)lub (c)ypher
        script(src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r77/three.min.js')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.4.1/vanilla-tilt.min.js")
        script(src='/js/index.js')    
        script.
            window.addEventListener("DOMContentLoaded", function(event) {
                if(document.getElementById('username')) {
                    document.getElementById('username').addEventListener('input', function(){
                        this.value = this.value.replace(/\s+/g, '').toLowerCase();
                    });
                }
            });
            const test = document.querySelector(".card-school");

            const h2 = document.querySelector(".firstcard");

            const card = document.querySelector(".blog-card");

            const info = document.querySelector(".info");

            const cross = document.querySelector(".cross");

            card.addEventListener("click", function (e) {
                card.classList.toggle("is-flipped");
            });

            card.addEventListener("click", function (e) {
                card.classList.toggle("is-flipped");
            });

            VanillaTilt.init(document.querySelectorAll(".blog-card"),{
                max: 10,
                speed: 600,
                scale: 1,
                transition: true,
                easing: "cubic-bezier(0.6,.98,.52,.99)",
                perspective: 600,
                glare: true
            });

