extends layout

block content
    #cursor
        .cursor__circle
    .container1
        if eventname == 'click'
            form.registerform(method='post' action='/student/register/click')
                h1.title Register for (c)lick
                if error
                    p.error= error
                .form-group
                    label(for='name') Full Name
                    input(type='text' name='name' placeholder='eg. Elon Musk' maxlength='20' required='required')
                .form-group
                    label(for='email') Email Address
                    input(type='email' name='email' pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" placeholder='eg. elon_musk@gmail.com' maxlength='40' required='required')
                .form-group
                    label(for='phonenumber') Phone Number
                    input(type='number' name='phonenumber' placeholder='eg. 9876543210' maxlength='10' required='required')
                .form-group
                    label(for='schoolname') School / Institution Name
                    input(type='text' name='schoolname' placeholder='eg. Delhi Public School' maxlength='30' required='required')
                .form-group
                    label(for='password') Password
                    input(type='password' name='password' autocomplete='off' placeholder='eg. Tesla' required='required')
                .form-group
                    label(for='passwordConfirm') Confirm Password
                    input(type='password' name='passwordConfirm' autocomplete='off' placeholder='eg. Tesla' required='required')
                p.registerpage
                    | Already registered ? 
                    a.register(href='/student/login' cursor-class='arrow') Login
                input.btn(type='submit' value='Register')
        else
            form.registerform(method='post' action='/student/register/clipped')
                h1.title 
                    | Register for (c)lipped
                .form-group
                    label(for='name') Full Name
                    input(type='text' name='name' placeholder='eg. Elon Musk' maxlength='20' required='required')
                .form-group
                    label(for='email') Email Address
                    input(type='email' name='email' pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" placeholder='eg. elon_musk@gmail.com' maxlength='40' required='required')
                .form-group
                    label(for='phonenumber') Phone Number
                    input(type='number' name='phonenumber' placeholder='eg. 9876543210' maxlength='10' required='required')
                .form-group
                    label(for='schoolname') School / Institution Name
                    input(type='text' name='schoolname' placeholder='eg. Delhi Public School' maxlength='30' required='required')
                .form-group
                    label(for='password') Password
                    input(type='password' name='password' autocomplete='off' placeholder='eg. Tesla' required='required')
                .form-group
                    label(for='passwordConfirm') Confirm Password
                    input(type='password' name='passwordConfirm' autocomplete='off' placeholder='eg. Tesla' required='required')
                p.registerpage
                    | Already registered ? 
                    a.register(href='/student/login' cursor-class='arrow') Login
                input.btn(type='submit' value='Register')