extends admin-layout

block content
  .card
    h1.form-title Add a Question
    if error
      p.error= error
    form(method='post', action='/admin/add-question')
      input(type='number', name='level', placeholder='Level', required)
      input(list="number", type='number', name='loop', placeholder='Number of questions (Loop)', autocomplete="off")
      textarea(placeholder='Question-1', name='question1', id='loop1', required)
      input(type='text', placeholder='Answer', name='answer1', id="answer" required)
      textarea(placeholder='Question-2', name='question2', id='loop2', required)
      input(type='text', placeholder='Answer', name='answer2', id="answer" required)
      textarea(placeholder='Question-3 (if any)', name='question3', id='loop3' )
      input(type='text', placeholder='Answer', name='answer3', id="answer" )
      textarea(placeholder='Question-4 (if any)', name='question4', id='loop4')
      input(type='text', placeholder='Answer', name='answer4', id="answer" )
      textarea(placeholder='Question-5 (if any)', name='question5', id='loop5')
      input(type='text', placeholder='Answer', name='answer5', id="answer")
      textarea(placeholder='Question-6 (if any)', name='question6', id='loop6')
      input(type='text', placeholder='Answer', name='answer6', id="answer" )
      input(type='submit', value='Add Question')    

