extends admin-layout

block content
    .card
      h1.form-title Admin Panel 
      p Here comes the admin panel. WELCOME! Cyche's very own secret panel meant just for (c)ypherites.
      img(src='https://distracted-wescoff-b1d8d6.netlify.app/img/admin_panel.svg', alt='Admin Panel', class='end', draggable='false')