extends layout

block content  
    h1 Welcome to the 3rd hidden page.
    p
      | Greetings chosen ones! You are almost finishing the game... The questions will be unsolvable now and no giveaways/clues will be provided. Without further ado, let's begin! 
    br
    h2 Letter #3
    p
      | Ayudh was looking out the window of IP lab. The memories of Cyche and Aagosh were clear in his head. He still remembered the moment they pushed him into the portal and how he came back into the real world. The real world? What was the real world actually? All his perceptions of reality were blown away. Suddenly one of the cypherites came running to him. He said, "Ayudh, we found it !" For the first time after coming back from cyche's world, he smiled. Ayudh said, "Let's go!" <h2 class='center'>*    *    *</h2>Cyche woke up with a dizzy head and could not think properly. He looked around and but could see nothing as it was pitch black. He suddenly remembered Aagosh and how they came to this... empty space. He shouted, "Aagosh!" After several tries, he stopped. Aagosh was nowhere to be found. Cyche started walking and walked for a few hours. The empty space was hard to describe and offered no support to Cyche's peace of mind. He sat down tired and slept. He slept for many hours and was woken by a buzzing sound. He opened his droopy eyes to see a blue message floating in the air. <h2 class='center'>AYUDH: Yo, it's time to get you out. Find yourself!</h2> <br><br>Cyche was quite puzzled for a moment and then he smiled. He said aloud, "Find myself, huh? Gotcha (c)lub (c)ypher!"    

      