extends layout

block content
  .card
    h1.form-title.error You have been disqualified. Cyche isn't happy with you now. Don't worry, you will be requalified after some time. Till then, face your punishment! For further inquiry, mail us at cypherdps@gmail.com.
    img(src='img/disqualified.svg', alt='celebrate', class='end', draggable='false')
