footer
    .separator
    .container
        //- each team in logs
        //-     if team.username == currentUser.username
        //-         if team.username == currentUser.level
        //-             p #{team.answer}
        h2.center Links
        p.center
            a(href='http://discord.com')
                img#img1.footer-logo.gol(src="https://distracted-wescoff-b1d8d6.netlify.app/img/discord.svg", alt="disocrd")
            a(href='http://clubcypher.club')
                img#img1.footer-logo.gol(src="https://distracted-wescoff-b1d8d6.netlify.app/img/cypher.svg", alt="cypher")
            a(href="https://www.facebook.com/cypherdps/")
                img#img1.footer-logo.gol.fb(src="https://distracted-wescoff-b1d8d6.netlify.app/img/facebook.svg", alt="Facebook", height="300", width="300")
            a(href="https://www.youtube.com/channel/UCSULXN5apeQSDa0sLYuwEnA")
                img#img1.footer-logo.gol.fb(src="https://distracted-wescoff-b1d8d6.netlify.app/img/youtube.svg", alt="Youtube")
            a(href="https://www.instagram.com/cypherdps/")
                img#img1.footer-logo.gol(src="https://distracted-wescoff-b1d8d6.netlify.app/img/instagram.svg", alt="Instagram")
        

    
