header#masthead
  .container
    .four.columns.left
      a.handletter(href='/')
        img(src='https://distracted-wescoff-b1d8d6.netlify.app/img/logo_3.png', alt='de(c)ypher')
    .eight.columns.right
      img.mob-logo(src='https://distracted-wescoff-b1d8d6.netlify.app/img/logo_3.png', alt='de(c)ypher')
      #mobilenavdiv.mobile-menu-toggle.js-toggle-menu.hamburger-menu(onclick='navfunction()')
        span.menu-item
        span.menu-item
        span.menu-item
        

      nav.desktop-nav
        ul
          if currentUser
            li 
              a(href='/play')#playnav Play
            li
              a(href='/')#homenav Home
            li 
              a(href='/rules')#rulesnav Rules
            li
              a(href='/leaderboard')#leaderboardnav Leaderboard
            li
              a(href='/logout') Logout from 
                b #{currentUser.username}
          else
            li
              a(href='/')#homenav Home
            li 
              a(href='/rules')#rulesnav Rules
            li
              a(href='/login')#loginnav Login
            li
              a(href='/register')#registernav Register
            //- li
            //-   a(href='/results') Results
    nav#nav.mobile-nav.hidden
      ul.animated-box4.in
        if currentUser
          li
            a(href='/')#homenav Home
          li 
            a(href='/rules')#rulesnav Rules
          li
            a(href='/leaderboard')#leaderboardnav Leaderboard
          li 
            a(href='/play')#playnav Play
          li
            a(href='/logout') Logout
        else
          li
            a(href='/')#homenav Home
          li 
            a(href='/rules')#rulesnav Rules
          li
            a(href='/login')#loginnav Login
          li
            a(href='/register')#registernav Register