doctype html
html(lang='en')
    head 
        meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        title Tethics Excellence Academy
        meta(name='description', content='This website is created by and for the tech club of DPS Bhopal - Team (c)ypher.')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel="shortcut icon" href="/img/tethics_icon.png?v=1" type="image/x-icon")
        link(rel="preload" as="font" href="https://static.clubcypher.club/font/Barlow2.woff2" crossOrigin="anonymous")
        link(rel='stylesheet preload' href='/style.css' as='style')
        link(rel="preload" href="/js/index.js" as="script" crossOrigin="anonymous")
    body
        include header
        #canvas
        #main
            #cursor
                .cursor__circle

            block content
        include footer