extends admin-layout

block content
  .card.manage.levels
    h1.form-title Manage Questions
    form(method='post', action='/admin/questions')
      label Select level:
      select.select-teams(name='level', id='selectedQuestion' onChange='updateValues(this.value)')
        each question in questions
          option= question.level
      label.single Question: 
      textarea(placeholder='Question' name='question')#currentQuestion
      label.single Answer: 
      input(placeholder='Answer' name='answer')#currentAnswer
      input(type='submit', value='Change question')

          
  script(type='text/javascript').
    var questions = !{JSON.stringify(questions)};
    function updateValues(selectedQuestion) {
      var array = questions.filter(function(question) {
        return question.level == selectedQuestion;
      });
      console.log(array[0].answer);
      document.getElementById('currentQuestion').innerHTML = array[0].question;
      document.getElementById('currentAnswer').value = array[0].answer;
    }
    
