extends layout

block content
    .card
       h1.title Event Status
       if eventStatus
        p(style='color: green;') Event is going on.
       else
        p(style='color: red;') Event has been concluded.

       form(method='post', action='/event-status')
        .form-group
            label(for='status') Status: type off for concluding the event
            select.select-teams(name='status')
                option On
                option Off
        .form-group
            label(for='password') Password
            input(type='password', name='password')
        input(type='submit', value='Submit') 
    

    script(src='https://unpkg.com/sweetalert/dist/sweetalert.min.js')
    if error
        script(type='text/javascript').
            swal ( "Oops" ,  "#{error}" ,  "error" )
